controller:
  image:
    repository: "${component.nginx.image}"
    tag: "${component.nginx.imageTag}"
  replicaCount: "${component.nginx.replicaCount}"
  ingressClass: "${component.ingress.class}"
  setAsDefaultIngress: "${component.nginx.isDefaultIngress}"
  service:
    type: "${component.nginx.serviceType}"
