# see: https://docs.locust.io/en/stable/configuration.html#configuration-file
locustfile = locustfile.py
headless = false
web-port = 8080
autostart = true
autoquit = 300
host = ${component.wp-loadgenerator.targetHost}
users = ${component.wp-loadgenerator.users}
spawn-rate = ${component.wp-loadgenerator.spawnRate}
run-time = ${component.wp-loadgenerator.runTime}
exit-code-on-error = 0
html = test-result.html