sources:
# - service
- ingress
# - crd

provider: google

domainFilters:
- "${dns.domain}"

interval: "${component.externalDns.helm.syncIntervalSeconds}s"
logLevel: debug
policy: ${component.externalDns.helm.syncPolicy}

